<!-- モーダルウィンドウを呼び出すボタン -->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
  <!-- <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <!-- プラスアイコン -->
  新規投稿
</button>

<!-- モーダルウィンドウの中身 -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">新規投稿</h4>
      </div>
      <div class="modal-body">
        <%= render 'topics/form', topic: @topic %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
